<a href="https://colab.research.google.com/github/Rakesh-kumar-s/Rakesh-kumar-s/blob/main/Solving_Inventory_Inefficiencies_Using_Advanced_SQL_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Install required packages
!pip install pandas sqlalchemy ipython-sql

# Import libraries
import pandas as pd
from sqlalchemy import create_engine

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.41)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 24.7 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [5]:
# Create sample inventory data
inventory_data = {
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Widget A', 'Gadget B', 'Tool C', 'Part D', 'Supply E'],
    'current_stock': [150, 45, 78, 230, 12],
    'unit_cost': [12.50, 45.00, 8.75, 3.20, 28.99],
    'lead_time_days': [7, 14, 3, 21, 10]
}

# Create sample sales data
sales_data = {
    'sale_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'product_id': [101, 102, 101, 103, 104, 101, 102, 105, 103, 101],
    'sale_date': pd.date_range(start='2023-01-01', periods=10),
    'quantity': [5, 2, 3, 1, 8, 4, 1, 1, 2, 6],
    'unit_price': [15.00, 50.00, 15.00, 10.00, 4.00, 15.00, 50.00, 35.00, 10.00, 15.00]
}

# Convert to DataFrames
df_inventory = pd.DataFrame(inventory_data)
df_sales = pd.DataFrame(sales_data)

# Create in-memory SQLite database
engine = create_engine('sqlite:///:memory:')

# Load data into database
df_inventory.to_sql('inventory', engine, index=False)
df_sales.to_sql('sales', engine, index=False)

10

In [6]:
# Load SQL magic extension
%load_ext sql

# Connect to our in-memory database
%sql sqlite:///:memory:

In [7]:
%%sql
-- Simple inventory valuation
SELECT
  product_id,
  product_name,
  current_stock,
  unit_cost,
  current_stock * unit_cost AS inventory_value
FROM inventory
ORDER BY inventory_value DESC;

 * sqlite:///:memory:
(sqlite3.OperationalError) no such table: inventory
[SQL: -- Simple inventory valuation
SELECT
  product_id,
  product_name,
  current_stock,
  unit_cost,
  current_stock * unit_cost AS inventory_value
FROM inventory
ORDER BY inventory_value DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
%%sql
-- Simple inventory valuation
SELECT
  product_id,
  product_name,
  current_stock,
  unit_cost,
  current_stock * unit_cost AS inventory_value
FROM inventory
ORDER BY inventory_value DESC;

 * sqlite:///:memory:
(sqlite3.OperationalError) no such table: inventory
[SQL: -- Simple inventory valuation
SELECT
  product_id,
  product_name,
  current_stock,
  unit_cost,
  current_stock * unit_cost AS inventory_value
FROM inventory
ORDER BY inventory_value DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [9]:
%%sql
WITH inventory_stats AS (
  SELECT
    product_id,
    product_name,
    current_stock,
    unit_cost,
    current_stock * unit_cost AS inventory_value,
    SUM(current_stock * unit_cost) OVER () AS total_inventory_value
  FROM inventory
)
SELECT
  product_id,
  product_name,
  current_stock,
  inventory_value,
  ROUND(inventory_value * 100.0 / total_inventory_value, 2) AS value_percentage,
  CASE
    WHEN inventory_value * 100.0 / total_inventory_value >= 80 THEN 'A'
    WHEN inventory_value * 100.0 / total_inventory_value >= 15 THEN 'B'
    ELSE 'C'
  END AS abc_class
FROM inventory_stats
ORDER BY inventory_value DESC;

 * sqlite:///:memory:
(sqlite3.OperationalError) no such table: inventory
[SQL: WITH inventory_stats AS (
  SELECT
    product_id,
    product_name,
    current_stock,
    unit_cost,
    current_stock * unit_cost AS inventory_value,
    SUM(current_stock * unit_cost) OVER () AS total_inventory_value
  FROM inventory
)
SELECT
  product_id,
  product_name,
  current_stock,
  inventory_value,
  ROUND(inventory_value * 100.0 / total_inventory_value, 2) AS value_percentage,
  CASE
    WHEN inventory_value * 100.0 / total_inventory_value >= 80 THEN 'A'
    WHEN inventory_value * 100.0 / total_inventory_value >= 15 THEN 'B'
    ELSE 'C'
  END AS abc_class
FROM inventory_stats
ORDER BY inventory_value DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
%%sql
WITH inventory_stats AS (
  SELECT
    product_id,
    product_name,
    current_stock,
    unit_cost,
    current_stock * unit_cost AS inventory_value,
    SUM(current_stock * unit_cost) OVER () AS total_inventory_value
  FROM inventory
)
SELECT
  product_id,
  product_name,
  current_stock,
  inventory_value,
  ROUND(inventory_value * 100.0 / total_inventory_value, 2) AS value_percentage,
  CASE
    WHEN inventory_value * 100.0 / total_inventory_value >= 80 THEN 'A'
    WHEN inventory_value * 100.0 / total_inventory_value >= 15 THEN 'B'
    ELSE 'C'
  END AS abc_class
FROM inventory_stats
ORDER BY inventory_value DESC;

 * sqlite:///:memory:
(sqlite3.OperationalError) no such table: inventory
[SQL: WITH inventory_stats AS (
  SELECT
    product_id,
    product_name,
    current_stock,
    unit_cost,
    current_stock * unit_cost AS inventory_value,
    SUM(current_stock * unit_cost) OVER () AS total_inventory_value
  FROM inventory
)
SELECT
  product_id,
  product_name,
  current_stock,
  inventory_value,
  ROUND(inventory_value * 100.0 / total_inventory_value, 2) AS value_percentage,
  CASE
    WHEN inventory_value * 100.0 / total_inventory_value >= 80 THEN 'A'
    WHEN inventory_value * 100.0 / total_inventory_value >= 15 THEN 'B'
    ELSE 'C'
  END AS abc_class
FROM inventory_stats
ORDER BY inventory_value DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [11]:
%%sql
WITH daily_sales AS (
  SELECT
    product_id,
    sale_date,
    SUM(quantity) AS daily_quantity
  FROM sales
  GROUP BY product_id, sale_date
),
sales_stats AS (
  SELECT
    product_id,
    AVG(daily_quantity) AS avg_daily_sales,
    STDDEV(daily_quantity) AS sales_stddev
  FROM daily_sales
  GROUP BY product_id
)
SELECT
  i.product_id,
  i.product_name,
  i.current_stock,
  s.avg_daily_sales,
  s.sales_stddev,
  CASE
    WHEN s.avg_daily_sales = 0 THEN NULL
    ELSE i.current_stock / s.avg_daily_sales
  END AS days_of_supply,
  CASE
    WHEN s.avg_daily_sales IS NULL THEN 'No Sales Data'
    WHEN i.current_stock < (s.avg_daily_sales + s.sales_stddev) THEN 'High Risk'
    WHEN i.current_stock < (s.avg_daily_sales + 2*s.sales_stddev) THEN 'Medium Risk'
    ELSE 'Low Risk'
  END AS stockout_risk
FROM inventory i
LEFT JOIN sales_stats s ON i.product_id = s.product_id
ORDER BY stockout_risk, days_of_supply;

 * sqlite:///:memory:
(sqlite3.OperationalError) no such table: inventory
[SQL: WITH daily_sales AS (
  SELECT
    product_id,
    sale_date,
    SUM(quantity) AS daily_quantity
  FROM sales
  GROUP BY product_id, sale_date
),
sales_stats AS (
  SELECT
    product_id,
    AVG(daily_quantity) AS avg_daily_sales,
    STDDEV(daily_quantity) AS sales_stddev
  FROM daily_sales
  GROUP BY product_id
)
SELECT
  i.product_id,
  i.product_name,
  i.current_stock,
  s.avg_daily_sales,
  s.sales_stddev,
  CASE
    WHEN s.avg_daily_sales = 0 THEN NULL
    ELSE i.current_stock / s.avg_daily_sales
  END AS days_of_supply,
  CASE
    WHEN s.avg_daily_sales IS NULL THEN 'No Sales Data'
    WHEN i.current_stock < (s.avg_daily_sales + s.sales_stddev) THEN 'High Risk'
    WHEN i.current_stock < (s.avg_daily_sales + 2*s.sales_stddev) THEN 'Medium Risk'
    ELSE 'Low Risk'
  END AS stockout_risk
FROM inventory i
LEFT JOIN sales_stats s ON i.product_id = s.product_id
ORDER BY stockout_risk, days_of_supply;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [12]:
# Convert SQL results to Pandas DataFrame for visualization
result = %sql SELECT * FROM inventory
df = result.DataFrame()

# Basic visualization
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 5))
plt.bar(df['product_name'], df['current_stock'])
plt.title('Current Stock Levels')
plt.xlabel('Product')
plt.ylabel('Quantity in Stock')
plt.xticks(rotation=45)
plt.show()

 * sqlite:///:memory:
(sqlite3.OperationalError) no such table: inventory
[SQL: SELECT * FROM inventory]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

AttributeError: 'NoneType' object has no attribute 'DataFrame'

In [ ]:
%%sql
WITH sales_stats AS (
  SELECT
    product_id,
    AVG(quantity) AS avg_daily_demand,
    STDDEV(quantity) AS demand_stddev
  FROM (
    SELECT
      product_id,
      sale_date,
      SUM(quantity) AS quantity
    FROM sales
    GROUP BY product_id, sale_date
  ) daily_sales
  GROUP BY product_id
)
SELECT
  i.product_id,
  i.product_name,
  i.current_stock,
  i.lead_time_days,
  s.avg_daily_demand,
  s.demand_stddev,
  -- Basic reorder point
  ROUND(s.avg_daily_demand * i.lead_time_days, 2) AS basic_reorder_point,
  -- Safety stock (simplified)
  ROUND(1.5 * s.demand_stddev * SQRT(i.lead_time_days), 2) AS safety_stock,
  -- Total recommended reorder point
  ROUND((s.avg_daily_demand * i.lead_time_days) +
       (1.5 * s.demand_stddev * SQRT(i.lead_time_days)), 2) AS recommended_reorder_point,
  CASE
    WHEN i.current_stock <= ROUND((s.avg_daily_demand * i.lead_time_days) +
                                (1.5 * s.demand_stddev * SQRT(i.lead_time_days)), 2)
         THEN 'Reorder Now'
    ELSE 'Stock OK'
  END AS reorder_status
FROM inventory i
LEFT JOIN sales_stats s ON i.product_id = s.product_id
ORDER BY reorder_status;

In [ ]:
# Example for PostgreSQL
# !pip install psycopg2-binary

# Replace with your actual credentials
db_connection = {
    'host': 'your-db-host',
    'database': 'your-db-name',
    'user': 'your-username',
    'password': 'your-password',
    'port': '5432'
}

# Create connection string
conn_string = f"postgresql://{db_connection['user']}:{db_connection['password']}@{db_connection['host']}:{db_connection['port']}/{db_connection['database']}"

# Connect using SQL magic
%sql $conn_string

In [ ]:
result = %sql SELECT * FROM inventory
result.DataFrame().to_csv('inventory_analysis.csv', index=False)

In [ ]:
!pip install plotly
import plotly.express as px

fig = px.bar(df, x='product_name', y='current_stock',
             title='Current Inventory Levels')
fig.show()